/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}


body {
    background-color: #f2bfbf;
    font-family: sans-serif;
    min-height: 100vh;
}

/* Header */

header {
    background-color: #7a5c58;
    width: 100%;
}

.under-header {
    text-transform: capitalize;
    font-family: sans-serif;
    margin-left: 5px;
    font-weight: 600;
}

.under-header>a {
    text-decoration: none;
    color: #231f20;
}

/* Information modal */

#modal-button {
    display: flex;
    font-size: 35px;
    color: #ffcad4;
    background-color: #7a5c58;
    border-radius: 30px;
    border: 0;
    margin-left: auto;
    margin-top: -30px;
    margin-right: 5px;
    padding: 5px;
}

#modal-button:hover {
    background-color: white;
    cursor: pointer;
}

#modal-memory {
    display: none;
    position: fixed;
    z-index: 1;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #7a5c58;
}

.modal-content {
    background-color: grey;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
}

.modal-content>ol {
    margin-left: 20px;
    padding: 5px;
    font-weight: bold;
}


.close-modal {
    color: black;
    width: 0;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-self: flex-end;
}

.close-modal:hover,
.close-modal:focus {
    color: #7a5c58;
    cursor: pointer;
}


/* Memory Game */

.memory-timer {
    border: 1px solid black;
    background-color: #7a5c58;
    width: 20%;
    min-height: 50px;
    margin: auto;
    margin-top: 20px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.memory-timer>h1 {
    color: white;
    text-align: center;


}

.memory-timer>h1:hover {
    color: #ffcad4;
    cursor: pointer;
}


.memory-box {
    perspective: 1000px;
    max-width: 100%;
    display: grid;
    
    grid-template-columns: repeat(3, auto);
    margin: 10px;
    gap: 5px;
}

.card {
    height: 120px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.card.flip {
    transform: rotateY(180deg);
}


.button-div {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


#reset-button {
    width: 100px;
    height: 40px;
    background-color: #7a5c58;
    color: white;
    margin-bottom: 100px;
    border-radius: 25px;
}


#reset-button:hover {
    background-color: #ffcad4;
}

.front-card,
.back-card {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #7a5c58;
    backface-visibility: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}

.front-card {
    transform: rotateY(180deg);
}

.win-container {
    display: none;
    justify-content: center;

}

.win-box {
    display: flex;
    background-color: #f2bfbf;
    border-radius: 10px;
    text-transform: uppercase;
}

.win-box>h3 {
    color: white;
    letter-spacing: 0.3px;
    line-height: 130%;
    text-align: center;

}

.matches-box {
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    justify-content: center;
    width: 50%;
    border-radius: 25px;
    border: 1px solid black;
    background-color: #7a5c58;
}

#matches {
    color: pink;
    font-weight: 600;
    background-color: #7a5c58;
    text-align: left
}

.matches-box>p {
    color: pink;
    background-color: #7a5c58;
    font-weight: 600;
}

/* Footer */



.footer-box {
    background-color: #7a5c58;
    width: 100%;
    left: 0;
    bottom: 0;
    border: 1px solid black;
    position: fixed;
}

.footer-box>h3 {
    text-align: center;
    color: white;

}

.footer-box>ul {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

a:hover {
    color: white;
}

li>a {
    text-decoration: none;
    color: black;
}

/* Media queries */

@media screen and (min-width: 280px), screen and (max-height: 670px) {
    .memory-box {
        grid-template-columns: repeat(3, auto);
        align-items: center;
        justify-content: center;
    }
    
    .card {
        height: 100px;
        width: 80px;
    }
}

@media screen and (min-width: 320px) {
    .card {
        height: 80px;
        width: 100px;
    }
}

@media screen and (min-width: 400px) {
    .card {
        height: 120px;
        width: 120px;
    }
}


@media screen and (min-width: 600px) {
    .card {
        width: 160px;
        height: 160px;
    }
}


@media screen and (min-width: 768px) {


    .memory-box {
        grid-template-columns: repeat(4, auto);
        align-items: center;
        justify-content: center;
    }

    .card {
        height: 200px;
        width: 180px;
    }

}

@media screen and (min-width: 1024px) {
    .card {
        width: 250px;
        height: 250px;
        
    }
}

@media screen and (min-width: 1500px) {

    
    .card {
        height: 250px;
        width: 250px;

    }
}

@media screen and (min-width: 2000px) {


    .memory-box {
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(4, auto);
    }
    .card { 
        height: 350px;
        width: 350px;
        
    }
}