
/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    background-color: #f2bfbf;
    font-family: sans-serif;
    flex-direction: column;

}

/* Header */

header {
    position: absolute;
    background-color: #7a5c58;
    width: 100%;
}

header > h1 {
    color: white;
    text-transform: capitalize;
    font-family: sans-serif;
    margin-left: 5px;
}

.under-header {
    color: pink;
    text-transform: capitalize;
    font-family: sans-serif;
    margin-left: 5px;
}

.under-header > a {
    text-decoration: none;
    color: pink;
}


/* Information modal */

#modal-button {
    position: absolute;
    right: 0;
    margin-right: 10px;
    margin-top: 35px;
    font-size: 35px;
    border: 0;
    display: flex;
    align-self: center;
    justify-content: center;
    border-radius: 20px;
    color: #f2bfbf;
}

#modal-button:hover {
    color: #7a5c58;
}

#modal-memory {
    display: none;
    position: fixed;
    z-index: 1;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: pink;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid black;
    width: 80%;
}

.modal-content > ol {
    margin-left: 20px;
    padding: 5px;
    font-weight: bold;
}


.close-modal {
    color: #aaa;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-self: flex-end;
}

.close-modal:hover, .close-modal:focus {
    color: black;
    cursor: pointer;
}


/* Memory Game */

.memory-timer {
    display: flex;
    height: 50px;
    width: 30vw;
    border: 1px solid grey;
    justify-content: center;
    align-items: center;
    background-color: #7a5c58;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;

}

.memory-timer > h1 {
    color: white;
    text-align: center;

}

.memory-timer > h1:hover {
    color: black;
    cursor: pointer;
}


.memory-box {
    min-height: 70vh;
    display: flex;
    perspective: 1000px;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    margin: auto;
}

.card {
    width: 20vw;
    height: 20vh;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    margin: 5px;
    
}

.card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.card.flip {
    transform: rotateY(180deg);
}


.button-div {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


#reset-button {
    width: 100px;
    height: 40px;
    background-color: #7a5c58;
    color: white;
    margin-bottom: 20px;
}

#reset-button:hover {
    background-color: #ffcad4;
}

.front-card,
.back-card {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    background: #7a5c58;
    backface-visibility: hidden;
    object-fit: contain;

}

.front-card {
    transform: rotateY(180deg);
}

.win-container {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 75px;
    left: 0;
    right: 0;
    display: none;
}


.win-box {
    display: flex;
    justify-content: center;
    background-color: pink;
    border-radius: 10px;
    text-transform: uppercase;
}

.win-box > h3 {
    color: white;
    letter-spacing: 0.3px;
    line-height: 130%;
    
}

.matches-box {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
}

#matches {
    color: black;
    font-weight: 600;
}

.matches-box > p {
    color: black;
    font-weight: 600;
}

/* Footer */

.footer-box {
    background-color: #7a5c58;
    position: absolute;
    bottom: -100;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    border: 1px solid black;

}

.footer-box > h2 {
    text-align: center;
    color: white;
}

.footer-box > ul {
    text-decoration: none;
    list-style-type: none;
    margin-top: 30px;
    font-size: 25px;
    position: absolute;
    margin-left: 10px;
    display: flex;
    align-self: center;

}

a:hover {
    color: white;
}

li > a {
    text-decoration: none;
    color: black;
}



/* Media queries */


@media only screen and (max-width: 390px) {


    .card {
        height: 95px;
        width: 95px;
    }
}

@media only screen and (min-width: 391px) {


    .card {
        height: 120px;
        width: 120px;
    }
}


@media only screen and (min-width: 650px) {


    .card {
        height: 150px;
        width: 150px;
    }
}

@media only screen and (min-width: 800px) {
.card {
    width: 20vw;
    height: 20vh;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    margin: 5px;
    }
}

@media only screen and (min-width: 2000px){

.footer-box {
    bottom: 0;
}

}