
/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    background-color: #edf2f4;
    font-family: sans-serif;
    flex-direction: column;

}

/* Header */

header {
    position: absolute;
    background-color: black;
    width: 100%;
}

header > h1 {
    color: white;
    text-transform: capitalize;
    font-family: sans-serif;
    margin-left: 5px;
}

.under-header {
    color: pink;
    text-transform: capitalize;
    font-family: sans-serif;
    margin-left: 5px;
}

.matches-box {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
}

#matches {
    color: black;
    font-weight: 600;
}

.matches-box > p {
    color: black;
    font-weight: 600;
}




/* Memory Game */


.memory-timer {
    display: flex;
    height: 50px;
    width: 30vw;
    border: 1px solid grey;
    justify-content: center;
    align-items: center;
    background-color: pink;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;

}

.memory-timer > h1 {
    color: white;
    text-align: center;

}

.memory-box {
    width: 95vw;
    height: 35vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    align-items: center;
    margin: auto;
}

.card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    position: relative;
    margin: auto;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.card.flip {
    transform: rotateY(180deg);
}


.button-div {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


#reset-button {
    
    color: black;
}

.front-card,
.back-card {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    background: rgba(253, 113, 113, 0.6);
    backface-visibility: hidden;
}

.front-card {
    transform: rotateY(180deg);
}

.win-container {
    display: flex; 
    align-items: center;
    width: 100%;
    justify-content: center;
    display: none;
}


.win-box {
    display: flex;
    justify-content: center;
    background-color: rgba(253, 113, 113, 0.6);
    border-radius: 10px;
    text-transform: uppercase;
}

.win-box > h3 {
    color: white;
    letter-spacing: 0.3px;
    line-height: 130%;
    
}


/* Footer */


.footer-box {
    background-color: grey;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;

}

.footer-box > h2 {
    text-align: center;
    color: white;
    align-self: flex-start;
}

.footer-box > ul {
    text-decoration: none;
    list-style-type: none;
    margin-top: 30px;
    font-size: 25px;
}

a:hover {
    color: white;
}

li > a {
    text-decoration: none;
    color: black;
}

ul > li {
}



/* Media queries */



@media only screen and (max-width: 650px) {
    .card {
        width: calc(25% - 10px);
        height: calc(33.333% - 10px);
    }

    .memory-box {
        width: 95vw;
        height: 50vw;

    }


}


